%body
	%h1 Customer Page Hello #{@name}
	%a{:href => url("/")} Home
	%br
	
	#{@first_question_text}
	%br
	
	%form{ :action => "/selectionprocess/#{@name}", :method => "post"}
		%input{ :type => "hidden", :name => "completed_question_id", :value => "#{@first_question_id}"}
		- @answers_for_first_question.each do |text|
			%li
				%input{ :type => "checkbox", :name => "answer[]", :value => "#{text[:nodeId]}" } #{text[:text]}
		%input{:type => :submit, :value => "Save"}